
dconf/
*__pycache__/
configstore/

#VS Codium
VSCodium/Backups
VSCodium/blob_storage
VSCodium/Cache
VSCodium/CachedData
VSCodium/CachedExtensions
VSCodium/Code\ Cache
VSCodium/code.lock
VSCodium/Cookies
VSCodium/Cookies-journal
VSCodium/Crash\ Reports
VSCodium/databases
VSCodium/Dictionaries
VSCodium/exthost\ Crash\ Reports
VSCodium/fileWatcher/
VSCodium/GPUCache
VSCodium/languagepacks.json
VSCodium/Local\ Storage
VSCodium/logs
VSCodium/machineid
VSCodium/Network\ Persistent\ State
VSCodium/QuotaManager
VSCodium/QuotaManager-journal
VSCodium/Service\ Worker
VSCodium/Session\ Storage
VSCodium/storage.json
VSCodium/TransportSecurity
VSCodium/User/globalStorage
VSCodium/User/workspaceStorage
VSCodium/Crashpad/
VSCodium/User/History/
VSCodium/CachedExtension*

# Cadence
cadence/
Cadence*/

# Plugins for nvim, kak and other editors
# These should be installed unique to a 
# machine
kak/plugins
nvim/plugged
coc
helix/runtime

#Ignore live files for copyq
copyq/*.lock
copyq/copyq_*

#Machine dependent tools
htop/htoprc
pulse/
autorandr/
pavucontrol.ini

# Ignore Intellig, because who needs it!
JetBrains/

# Misc configurations that should be ignored
cataclysm-dda/
monitors.xml
EOS-greeter.conf
KDE/
Slack/
Trolltech.conf
akregatorrc
arkrc
autostart/
baloofilerc
bluedevilglobalrc
bottom/
cef_user_data/
cni/
ctbrec/
device_automounter_kcmrc
dolphinrc
eos-update-notifier.first_init
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
haruna/
harunarc
kactivitymanagerdrc
katemetainfos
katerc
kateschemarc
katevirc
kcminputrc
kconf_updaterc
kde.org/
kdeconnect/
kded5rc
kdedefaults/
kdeglobals
kglobalshortcutsrc
khotkeysrc
kiorc
klipperrc
kmixrc
knfsshare
konsolerc
konsolesshconfig
kritadisplayrc
kritarc
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
ktrashrc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
libaccounts-glib/
mimeapps.list
okularpartrc
okularrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmanotifyrc
plasmashellrc
powermanagementprofilesrc
privateinternetaccess/
pueue/
session/
spectaclerc
systemd/user/timers.target.wants/
systemsettingsrc
torbrowser/
trashrc
unity3d/
vivictpp/
vlc/
wezterm/
xsettingsd/
QtProject.conf
systemd/user/eos*

