
@keyframes blink-warning {
    70% {
        color: @light;
    }

    to {
        color: @light;
        background-color: @warning;
    }
}

@keyframes blink-critical {
    70% {
      color: @light;
    }

    to {
        color: @light;
        background-color: @critical;
    }
}


/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* COLORS */
/* Nord */
/*
Polar Night 
Polar night is made up of four darker colors that are commonly used for base
elements like backgrounds or text color in bright ambiance designs.
*/
@define-color nord0 #2e3440;
@define-color nord1 #3b4252;
@define-color nord2 #434c5e;
@define-color nord3 #4c566a;
/*
Snow Storm is made up of three bright colors that are commonly used for text
colors or base UI elements in bright ambiance designs.
*/
@define-color nord4 #d8dee9;
@define-color nord5 #e5e9f0;
@define-color nord6 #eceff4;
/*
Frost can be described as the heart palette of Nord, a group of four bluish
colors that are commonly used for primary UI component and text highlighting
and essential code syntax elements.
*/
@define-color nord7 #8fbcbb;
@define-color nord8 #88c0d0;
@define-color nord9 #81a1c1;
@define-color nord10 #5e81ac;
/*
Aurora consists of five colorful components reminiscent of the „Aurora
borealis“, sometimes referred to as polar lights or northern lights.
*/
@define-color nord11 #bf616a;
@define-color nord12 #d08770;
@define-color nord13 #ebcb8b;
@define-color nord14 #a3be8c;
@define-color nord15 #b48ead;

@define-color nord_bg @nord0;
@define-color nord_light @nord4;
@define-color nord_light_font @nord4;
@define-color nord_dark_font @nord3;
@define-color bg @nord0;
/*@define-color bg #353C4A;*/
@define-color light @nord4;
/*@define-color dark @nord_dark_font;*/
@define-color warning @nord13;
@define-color critical @nord11;
@define-color mode @nord2;
@define-color workspaces @nord_dark_font;
@define-color workspacesfocused @nord8;
@define-color tray @workspacesfocused;
@define-color sound @nord13;
@define-color network #5D7096;
@define-color memory @nord9;
@define-color cpu #596A8D;
@define-color temp #4D5C78;
@define-color layout #5e81ac;
@define-color date @nord2;
@define-color time @nord2;
@define-color backlight @nord2;

/* Reset all styles */
* {
    border: none;
    border-radius: 3px;
    min-height: 0;
    /*margin: 0.2em 0.3em 0.2em 0.3em;*/
    margin: 1px;
}

/* The whole bar */
#waybar {
    background: @bg;
    color: @light;
    font-family: "FiraMono NerdFont", "Symbols Nerd Font", "Cantarell", "Font Awesome 5 Pro";
    font-size: 12px;
    font-weight: bold;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#custom-pacman,
#custom-weather,
#custom-gpu,
#tray,
#backlight,
#language,
#custom-updates,
#custom-cpugovernor {
    padding-left: 0.6em;
    padding-right: 0.6em;
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
    color: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
    background: @warning;
    color: @nord_dark_font;
}

/* Each warning that should blink */
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

/* And now modules themselves in their respective order */

#mode { /* Shown current Sway mode (resize etc.) */
    color: @light;
    background: @mode;
}

/* Workspaces stuff */

#workspaces {
    margin-right: 10px;
}

#workspaces button {
    font-weight: bold; /* Somewhy the bar-wide setting is ignored*/
    padding: 0;
    color: @workspaces;
    opacity: 0.3;
    background: none;
    font-size: 1.15em;
}

#workspaces button.focused {
    /*background: @workspacesfocused;*/
    color: @nord_light_font;
    opacity: 1;
    /*padding: 0 0.4em;*/
    padding: 0px 0px;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
    opacity: 1;
}

#workspaces button#sway-workspace-1{
    font-size: 1.5em;
}

#window {
    margin-right: 40px;
    margin-left: 40px;
    font-weight: normal;
}
#bluetooth {
    background: @nord_bg;
    font-size: 1.2em;
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-gpu {
    background: @nord_bg;
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-weather {
    background: @mode;
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-pacman {
    background: @nord_light;
    color: @nord_dark_font;
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-scratchpad-indicator {
    background: @nord_light;
    color: @nord_dark_font;
    font-weight: bold;
    padding: 0 0.6em;
}
#idle_inhibitor {
    background: @mode;
    /*font-size: 1.6em;*/
    font-weight: bold;
    padding: 0 0.6em;
}
#custom-alsa {
    background: @sound;
}

#network {
    background: @nord_bg;
}

#memory {
    background: @memory;
}

#cpu {
    background: @nord_bg;
    color: @nord4;
}
#cpu.critical {
    color: @nord_dark_font;
}
#custom-cpugovernor {
    background-color: @nord_light;
    color: @nord_dark_font;
}
#custom-cpugovernor.perf {
    
}
#temperature {
    background-color: @nord_bg;
    color: @nord4;
}
#temperature.critical {
    background:  @critical;
}
#custom-layout {
    background: @layout;
}

#battery {
    background: @nord_bg;
}

#backlight {
    background: @backlight;
}

#clock {
    background: @nord_bg;
    color: @nord4;
}
#clock.date {
    background: @date;
}

#clock.time {
    background: @mode;
}

#pulseaudio { /* Unsused but kept for those who needs it */
    background: @nord_bg;
    color: @nord4;
}

#pulseaudio.muted {
    background: @nord11;
    color: @nord11;
    /* No styles */
}
#pulseaudio.source-muted {}


#tray {
    background: @nord2;
}
